<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArBaDqwPeRh2Gs0-DHmj2IK6i1tsNWpAA</string>
	<key>GCM_SENDER_ID</key>
	<string>592904673539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bounswe2026group11.socialeventmapper</string>
	<key>PROJECT_ID</key>
	<string>social-event-mapper-01</string>
	<key>STORAGE_BUCKET</key>
	<string>social-event-mapper-01.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592904673539:ios:4b3a40f59390a799d6b136</string>
</dict>
</plist>